<div class="row mb-2">
<div class="col-md-3 text-center">
  <img src="https://thumbs.dreamstime.com/b/food-logo-smile-label-company-grocery-store-friendly-vector-illustration-smiling-mouth-symbol-135565322.jpg" alt="" height="200" >
</div>
<div class="col-md-9 text-center">
  <img src="https://c8.alamy.com/comp/2FWX7P8/selection-of-take-out-and-fast-foods-corner-border-banner-pizza-hamburgers-fried-chicken-and-sides-overhead-view-on-a-dark-wood-background-with-2FWX7P8.jpg" height="200" width="1000">
</div>
</div>
