<div class="row trai1">
  <p class="col-12">Phân loại </p>
  <ul class="col-12 pl-5">
    <li><a href=""><i class="fas fa-paw"></i> Mèo tam thể</a></li>
    <li><a href=""><i class="fas fa-paw"></i> Mèo Aln</a></li>
    <li><a href=""><i class="fas fa-paw"></i> Mèo Ald</a></li>
    <li><a href=""><i class="fas fa-paw"></i> Mèo da nhăn</a></li>
    <li><a href=""><i class="fas fa-paw"></i> Mèo Nga</a></li>
  </ul>
</div>
<div class="row trai2">
  <p class="col-12">Mức giá</p>
  <ul class="col-12 pl-5">
    <li><a href=""><i class="fas fa-money-bill-wave-alt"></i> Nhỏ hơn 1 triệu</a></li>
    <li><a href=""><i class="fas fa-money-bill-wave-alt"></i> 1-2 triệu</a></li>
    <li><a href=""><i class="fas fa-money-bill-wave-alt"></i> 2-5 triệu</a></li>
    <li><a href=""><i class="fas fa-money-bill-wave-alt"></i> 5-10 triệu</a></li>
    <li><a href=""><i class="fas fa-money-bill-wave-alt"></i> Lớn hơn 10 triệu</a></li>
  </ul>
</div>
